<h3>All Books</h3>
<ul class="book-list" *ngIf="!selectedBook">
	<li class="book-item" *ngFor="let book of books">
		<div class="list-group" *ngIf="book">
			<a class="list-group-item list-group-item-action active" (click)="selectedBook=book">
				Tile: "{{book.title}}"
			</a>
			<a class="list-group-item list-group-item-action" (click)="selectedBook=book">
				Author: {{book.author}}
			</a>
			<a class="list-group-item list-group-item-action" (click)="selectedBook=book">
				ISBN code: {{book.isbn}}
			</a>
		</div>
	</li>
</ul>

<app-book-details *ngIf="selectedBook" [selectedBook]="selectedBook"></app-book-details>
