<h3>Remove a book</h3>
<form action="" method="">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">ISBN Code</span>
		</div>
		<input id="isbn" name="isbn" type="text" [(ngModel)]="isbnCode" maxlength="15" class="form-control" aria-label="ISBN" aria-describedby="basic-addon1">
	</div>
	<button id="delete-book" class="btn btn-primary" (click)="deleteBook()">Remove Book</button>
</form>

<app-book-details *ngIf="removedBook" [selectedBook]="removedBook"></app-book-details>