<form *ngIf="!selectedBook">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">ISBN Code</span>
		</div>
		<input id="isbn" name="isbn" type="text" [(ngModel)]="isbnCode" class="form-control" aria-label="ISBN" aria-describedby="basic-addon1">
	</div>
	<button id="find-book" class="btn btn-primary" (click)="findBook();">Search</button>
</form>

<app-book-details *ngIf="selectedBook" [selectedBook]="selectedBook"></app-book-details>
