<ul class="list-group" *ngIf="selectedBook">
	<li class="list-group-item active" *ngIf="selectedBook.title">Tile: {{selectedBook.title}}</li>
	<li class="list-group-item" *ngIf="selectedBook.author">Author: {{selectedBook.author}}</li>
	<li class="list-group-item" *ngIf="selectedBook.description">What its about: {{selectedBook.description}}</li>
	<li class="list-group-item" *ngIf="selectedBook.pubDate">Published in: {{selectedBook.pubDate}}</li>
	<li class="list-group-item" *ngIf="selectedBook.genre">Genre: {{selectedBook.genre}}</li>
	<li class="list-group-item" *ngIf="selectedBook.price">Price: ${{selectedBook.price}}</li>
	<li class="list-group-item" *ngIf="selectedBook.isbn">ISBN code: {{selectedBook.isbn}}</li>
	<li class="list-group-item" *ngIf="selectedBook.quantity">How many are in stock: {{selectedBook.quantity}}</li>
</ul>